/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.background-wrapper {
    background-image: url('./assets/soter-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }

  :root {
  --ion-color-soter-green: #F6A03D;
  --ion-tab-bar-color-selected: var(--ion-color-soter-green);
}
