.edit-profile-title {
  text-align: center;
  color: #22334d; /* Azul SOTER */
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E7F0F6;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Estilo de campos tipo login */
.edit-profile-field {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 10px 14px;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.edit-profile-field ion-icon {
  font-size: 20px;
  color: #22334d; /* Azul SOTER */
}

.edit-profile-field ion-input {
  --background: transparent;
  --border: none;
  --box-shadow: none;
  font-size: 16px;
  flex: 1;
  color: #22334d; /* Azul SOTER para texto */
}



/* Imagen subida */
.edit-profile-file {
  margin-bottom: 10px;
}

.edit-profile-image-preview {
  max-width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  /*align-self: center;*/
}

/* Reduce el ancho del modal */
.custom-calendar-modal {
  --width: 320px !important;
  --max-width: 90%;
  --height: auto;
  --border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Asegura que el contenido no sobresalga */
.calendar-wrapper {
  padding: 20px;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
}

.edit-profile-file {
  color: #22334d; /* azul oscuro de Soter */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px;
  justify-content: center;
  border-radius: 6px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
}

.phone-input-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.phone-input-wrapper .prefix {
  width: 80px;
  flex-shrink: 0;
}

.phone-input-wrapper .number {
  width: 100px;
  flex-grow: 1;
}

.phone-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.prefix-dropdown {
  height: 44px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: #fff;
  color: #003049; /* Azul oscuro de Soter */
}

.number {
  flex: 1;
}
